body {
    margin: 0;
    background-color: #1F2937;
    color: white;
    align-self: center;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    font-family: "Karla", sans-serif;
    font-weight: 800; /* ExtraBold */
}

.container {
  max-width: 446px;
  margin: 0 auto;        /* centers horizontally */
}

.highlight {
  color: #4ADF86;
}

.normaltext{
    font-weight:normal;
}

.generate-btn{
    background-color: #10B981;
    width:191px;
    height:42px;
    border-radius: 6px;
    border-width: 0px;
    font-weight:normal;
    color: white;
    font-size:large;
    margin-top:51px;
    margin-bottom: 35px;
    

    /* fancies */
    cursor: pointer;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}
.generate-btn:hover {
    background-color: #9AABD8;
    color: #1B244A;
    transform: perspective(500px) rotateX(10deg) rotateY(-10deg) scale(1.05);

}
.generate-btn:active {
  transform: scale(0.95);
}
.generate-btn:focus {
  outline: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #2F3E53;
  margin: 35px 0;
}

.result-row{
  width:446px;

  display:flex;
  justify-content: center;
  gap: 24px;
  margin-top:35px;
}







#toast{
  position:fixed;
  top:20px;
  left: 50%;
  transform: translateX(-50%);
  background: #10B981;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  font-family: Karla, sans-serif;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease, top 0.25s ease;

}

#toast.show {
    opacity: 1;
    top: 32px;
}








.result{
  width:211px;
  height:39px;
  background-color: #273549;
  border-width: 0px;
  border-radius: 6px;
  color: #55F991;

  cursor: pointer;
  transition: transform 0.1s;
}
.result:hover {
    background-color: #9AABD8;
    color: #1B244A;

}
.result:active {
  transform: scale(0.9);
}
.result:focus {
  outline: none;
}
